.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
  animation: zoom 1.5s ease-in-out;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(2.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 49, 15, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.explore-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 1000;
}

.explore-button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}

.explore-button:active {
  transform: scale(0.95);
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Logo transformations */
.logo-0 {
  transform: rotate(26deg) translate(31rem) rotate(0deg) ;
}
.logo-1 {
  transform: rotate(90deg) translate(20rem) rotate(-90deg);
}
.logo-2 {
  transform: rotate(130deg) translate(20rem) rotate(130deg);
}
.logo-3 {
  transform: rotate(180deg) translate(14rem) rotate(180deg);
}
.logo-4 {
  transform: rotate(250deg) translate(8rem) rotate(-250deg);
}
.logo-5 {
  transform: rotate(53deg) translate(26rem) rotate(-10deg);
}
.logo-6 {
  transform: rotate(180deg) translate(-28rem) rotate(-180deg);
}
.logo-7 {
  transform: rotate(150deg) translate(-18rem) rotate(-150deg);
}

@media (max-width: 768px) {
  .explore-button {
    font-size: 1.2rem;
    padding: 8px 16px;
  }

  .overlay {
    padding: 15px;
  }

  .landing-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .logo {
    width: 31px;
    height: 24px;
  }
  .logo-0 {
    transform: rotate(28deg) translate(17rem) rotate(22deg);
  }
  .logo-1 {
    transform: rotate(72deg) translate(16rem) rotate(312deg)    ;
  }
  .logo-2 {
    transform: rotate(79deg) translate(4rem) rotate(-45deg);
  }
  .logo-3 {
    transform: rotate(-25deg) translate(4rem) rotate(0deg);
  }
  .logo-4 {
    transform: rotate(85deg) translateX(9rem) rotate(0deg);
  }
  .logo-5 {
   transform:  rotate(10deg) translate(15rem) rotate(52deg);
  }
  .logo-6 {
    transform: rotate(60deg) translateY(-5rem) translateX(19rem) rotate(-78deg);
  }
  .logo-7 {
   transform:rotate(-12deg) translate(10rem) rotate(90deg);
  }
}
