.answer-icons {
  display: flex;
  gap: 1rem;
}

.star {
  font-size: 24px;
  color: #ddd;
}

.star.text-warning {
  color: gold;
}
.no-questions-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers-list {
  border-radius: 5px;
}

.answered-by {
  font-weight: bold;
  font-size: 12px;
}

.add-question-btn {
  display: none; /* Hidden by default */
}

@media (max-width: 768px) {
  .add-question-btn {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #167fff;
    color: #eedbdb;
    font-size: 24px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

/* for darktheme */

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}
.white-theme {
  background-color: #ffffff;
  color: #121212;
}

.moon-icon{
  color: #121212;
}
.sun-icon{
  color: #ffffff !important;
}

@media (max-width:768px) {
.logo-img{
  width: 30vw !important;
}  
}


.bg-dark {
  background-color: #343a40;
}

.bg-light {
  background-color: #f8f9fa; 
}

.bg-secondary {
  background-color: #6c757d;
}

.text-white {
  color: white;
}
